<!DOCTYPE html>
<html>
<head>
    <title>Angualar JS</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF8">
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/d3.js"></script>
    <style type="text/css">
        .kid {
            border:1px solid aquamarine;
        }
    </style>
</head>
<body>

<div ng-app="dynamicDonutApp" ng-init="chartData=[{value:80}, {value:30}, {value:50}]">
    <button ng-click="chartData.push({value:50})">add slice</button>
    <button ng-click="chartData.pop()">remove slice</button>
    <input type="range" ng-repeat="data in chartData" ng-model="data.value">
    <donut-chart data="chartData"></donut-chart>
</div>


<script type="text/javascript" src="js/dynamicDonutApp.js"></script>


</body>
</html>